.checkbox-container{
    margin-left: 32px;
    margin: 8px;

    
    input[type=checkbox] {
     accent-color: rgba(44, 172, 71, 0.938);
     outline: 1px solid white;
   }
   

    label{
     margin-left: 16px;
    }
 }