.strength-container{
    display: flex;
    align-items: center;
    width: 90%;
    background-color: black;
    padding: 8px;

    .strength-image-container{
        margin-left: auto;
    }
    svg{
        width: 8px;
        height: 20px;
        fill: black;
        margin: 2px;
        box-shadow: none;
        rect{
            box-shadow: none;
            stroke-width: 2;
            stroke: white;
            
        }
        

    }
    .weak{
        fill:red;
    }
    .moderate{
        fill:yellow
    }
    .strong{
        fill: greenyellow;
    }
    .very-strong{
        fill: green;
    }
}