.output-container{
    align-items: center;
   min-height: 32px;
    width: 30%;
    background-color: rgb(32, 32, 32);
    margin-bottom: 24px;
    display: flex;
    .password-container{
        margin-left: 8px;
       
    }
    button{
        margin-left: auto;
        margin-right: 16px;
        height: 24px;
    }
}